#who{width:1250px;
     height: 300px;
     background-color: brown;
     border: 10px solid black;
     border-radius: 20px;}

#is{margin-left: 100px;
    font-size: 80px;
    text-align: left;
    margin-left: 350px;
    margin-top: 20px;
    font-family: Comic Sans, Comic Sans MS, cursive;
    color:black;}

#jong{margin-right: 100px;
      font-size: 80px;
      text-align: right;
      font-family: Comic Sans, Comic Sans MS, cursive;
      color:black;}

#me{border: 10px solid black;
	border-radius: 5%;}

#link{margin-top: 10px;}

#if{color: white;font-size: 20px;
    font-style: normal;}

span {color: white;
   font-size: 50px;
   font-family: }

#to{color: gray;
    font-size: 15px;
    font-style: italic;}

a:hover{font-style: italic;
         color: #990099;
        text-decoration: none;}


#videos{margin-left: 170px;}

#swf{margin-left: 1150px;
     margin-top: -920px;
     color: white;}
        
.container{margin-top: -283px;}

.carousel-indicators{margin: -30px;}
